.container > img{
    width: 4vw;
    height: 5.5vh;
    border-radius: 50%;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    margin-top: 3vh;
    gap: 1.2vw;
    background-color: rgb(36, 37, 38);
    padding: 0.7vh;
    width: 20vw;
    border-radius: 4vh;
    -webkit-box-shadow: 0px 0px 5px 1px #000000; 
    box-shadow: 0px 0px 5px 1px #000000;
}
.container:hover{
    background-color: rgb(100, 100, 100);
}